.movies-card {
  margin: 0;
  position: relative;
  color: #000;
  border-radius: 10px;
  /* box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05); */
}

.movies-card_hidden {
  display: none;
}

.movies-card__btn_active {
  background: #2BE080;
}

.movies-card__btn_disabled{
  background: #313131;
}

.movies-card__btn_hidden {
  display: none;
}

.movies-card__btn_type_delete {
  min-width: 16px;
  height: 16px;
  background: url('../../images/movies-card__delete-btn.svg') no-repeat center;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
}
.movies-card__btn_type_save {
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  outline: none;
  border: solid 1.5px #fff;
  border-radius: 50px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}

.movies-card__duration {
  margin: 0;
  padding: 0;
  line-height: 1.21;
  color: #8b8b8b;
  font-size: 11px;
  text-align: left;
}

.movies-card__image {
  width: 100%;
  min-height: 151px;
  border-radius: 10px 10px 0 0;
}

.movies-card__info {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 14px 12px;
  background: #222;
  border-radius: 0 0 10px 10px;
}

.movies-card__title {
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1.21;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}

@media screen and (max-width: 1279px) {
  .movies-card__image {
    height: 191px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card {
    display: inline-block;
    height: none;
  }

  .movies-card__btn_type_delete {
    margin: 8px 0 28px 19px;
    min-width: 18px;
    height: 18px;
  }

  .movies-card__image {
    height: 168px;
    max-width: none;
  }

  .movies-card__info {
    width: calc(100% - 10px*2);
    margin: 0;
  }

  .movies-card__title {
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1.21;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
  }
}
