.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: calc(100% - 70px*2);
  margin: 34px auto 70px;
}

.profile__edit-button {
  margin: 10px 0 0 0;
  border: none;
  background: transparent;
  line-height: 1.21;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}

.profile__input {
  max-height: 14px;
  background: transparent;
  color: #fff;
  border: none;
  text-align: right;
  cursor: pointer;
}

.profile__link {
  margin: 0;
  line-height: 1.21;
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
}

.profile__link:last-child {
  margin: 16px 0 0 0;
  color: #EE3465;
}

.profile__submit-message {
  color: #32CD32;
  text-align: center;
}


.profile__title {
  margin: 40px 0;
  line-height: 1.21;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}

.profile__user-info {
  margin: 0 0 220px 0;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  min-width: 410px;
  border-bottom: solid 1px #424242;
  line-height: 1.21;
  font-size: 11px;
}

.profile__user-info-container {
  display: flex;
  flex-direction: column;
}

.profile__user-info:first-child {
  margin: 83px 0 0 0;
}

@media screen and (max-width: 1279px) {
  .profile {
    min-width: calc(100% - 30px*2);
    margin: 234px auto 269px;
  }

  .profile__user-inf0  {
    margin: 0 0 210px 0;
  }

  .profile__user-info:first-child {
    margin: 56px 0 0 0;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    min-width: calc(100% - 14px*2);
    margin: 30px auto 40px;
  }

  .profile__edit-button  {
    
  }

  .profile__link {
    font-size: 12px;
  }

  .profile__user-info {
    margin: 0 0 379px 0;
    min-width: 260px;
  }

  .profile__user-info:first-child {
    margin: 40px 0 0 0;
  }
}
