.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px;
  padding: 0 0 69px 0;
  border-bottom: solid 1px #424242;
}

.search-form__checkbox {
  width: 36px;
  height: 20px;
  -webkit-appearance: none;
  outline: none;
  background: #EBEBEB;
  border-radius: 50px;
  transition: .5s;
  cursor: pointer;
}

.search-form__checkbox:checked {
  background: #2BE080;
}

.search-form__checkbox:before {
  display:inline-block;
  content: '';
  width: 8px;
  height: 8px;
  margin: 6px;
  background: #fff;
  border-radius: 20px;
  transform: scale(1.1);
  transition: .5s;
}

.search-form__checkbox:checked:before {
  margin: 6px 6px 6px 20px;
}


.search-form__checkbox-capture {
  margin: 0 30px 0 14px;
  line-height: 1.38;
  font-size: 13px;
}

.search-form__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  background: #222;
  border-radius: 9px;
}

.search-form__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 19px;
  border-left: solid 1px #505050;
  height: 40px;
}

.search-form__icon {
  display: inline-block;
  min-width: 22px;
  height: 22px;
  margin: 19px 10px 19px 19px;
  padding: 0;
  border: none;
  background: url('../../images/search-form__icon.svg') no-repeat center;
  cursor: pointer;
}

.search-form__input {
  width: 100%;
  margin: 25px 10px 25px 0;
  padding: 0;
  border: none;
  background: #222;
  line-height: 1.11;
  color: #8B8B8B;
  font-size: 18px;
}

.search-form__input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 850px;
  margin: 0;
  padding: 0 19px 0 0;
}

.search-form__submit-btn {
  max-height: 34px;
  margin: auto 0;
  padding: 8px 10.35px;
  border: none;
  line-height: 1.64;
  font-size: 11px;
  font-weight: 500;
  border-radius: 48px;
}

.search-form__submit-btn_active {
  background: #4285F4;
  color: #fff;
  cursor: pointer;
}

.search-form__submit-btn_disabled {
  background: #fff;
  color: #8B8B8B;
}

@media screen and (max-width: 1279px) {
  .search-form__checkbox-capture {
    margin: 0 20px 0 15px;
  }
}

@media screen and (max-width: 767px) {
  .search-form  {
    flex-direction: column;
    margin: 80px 10px 0;
    padding: 0 0 44px;
  }

  .search-form__checkbox-capture {
    margin: 0 0 0 13px;
    line-height: 1.64;
    font-size: 11px;
  }

  .search-form__container  {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: calc(100% - 10px*2);
    background: #202020;
  }

  .search-form__filter {
    margin: 45px auto 0;
    padding: 0;
    border: none;
    background: #202020;
  }

  .search-form__icon {
    display: none;
  }

  .search-form__input {
    margin: 0 0 0 10px;
    line-height: 1.43;
    font-size: 14px;
  }

  .search-form__input-container  {
    align-content: center;
    margin: 0 19px;
    padding: 19px;
    width: calc(100% - 10px*2);
    border: none;
    background: #222;
    border-radius: 9px;
  }
}
